/* Discord Aesthetic Styles */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #1a1b1e;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #111214;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Tooltip animation */
.tooltip {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.15s ease-in-out;
}
.has-tooltip:hover .tooltip {
  visibility: visible;
  opacity: 1;
}
